<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rnshell.app"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.WRITE_CONTACTS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE"/>

  <uses-feature android:name="android.hardware.camera.any" />
  <uses-feature android:name="android.hardware.camera.autofocus" />

  <queries>
    <package android:name="com.tencent.mm" />
    <package android:name="com.eg.android.AlipayGphone" />
    <package android:name="hk.alipay.wallet" />
  </queries>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:usesCleartextTraffic="true"
      android:theme="@style/AppTheme"
      android:largeHeap="true"
      android:allowBackup="false"
      tools:replace="android:allowBackup"
      android:requestLegacyExternalStorage="true"
      android:allowNativeHeapPointerTagging="false">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:exported="true"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>



      <meta-data android:name="JPUSH_PKGNAME" android:value="${JPUSH_PKGNAME}"/>
      <meta-data android:name="JPUSH_APPKEY" android:value="${JPUSH_APPKEY}"/>
      <meta-data android:name="JPUSH_CHANNEL" android:value="${JPUSH_CHANNEL}"/>
      <meta-data android:name="DOKIT_APPID" android:value="${DOKIT_APPID}"/>
      <meta-data android:name="BUGLY_APPID" android:value="${BUGLY_APPID}"/>
      <meta-data android:name="QIYU_APPKEY" android:value="${QIYU_APPKEY}"/>
      <meta-data android:name="TXLIVE_LICENCE_KEY" android:value="${TXLIVE_LICENCE_KEY}"/>
      <meta-data android:name="TXLIVE_LICENCE_URL" android:value="${TXLIVE_LICENCE_URL}"/>
      <meta-data android:name="QQ_APPID" android:value="${QQ_APPID}"/>
      <meta-data android:name="QQ_APPKEY" android:value="${QQ_APPKEY}"/>
      <meta-data android:name="WECHAT_APPID" android:value="${WECHAT_APPID}"/>
      <meta-data android:name="WECHAT_APPKEY" android:value="${WECHAT_APPKEY}"/>
      <meta-data android:name="WEIBO_APPID" android:value="${WEIBO_APPID}"/>
      <meta-data android:name="WEIBO_APPKEY" android:value="${WEIBO_APPKEY}"/>

      <uses-library android:name="org.apache.http.legacy" android:required="false" />

      <provider
          android:name="androidx.core.content.FileProvider"
          android:authorities="${APP_PACKAGE}.FileProvider"
          android:exported="false"
          tools:replace="android:authorities"
          android:grantUriPermissions="true">
          <meta-data
              tools:replace="android:resource"
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/filepaths" />
      </provider>

      <activity
        android:name="${APP_PACKAGE}.wxapi.WXEntryActivity"
        android:label="@string/app_name"
        android:exported="true"
        android:taskAffinity="${APP_PACKAGE}"
        android:launchMode="singleTask"
      />
      <activity
        android:name="${APP_PACKAGE}.wxapi.WXPayEntryActivity"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:exported="true"
      />
      <!-- <activity
        android:name="com.tencent.tauth.AuthActivity"
        android:launchMode="singleTask"
        android:noHistory="true"
        android:exported="true">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="tencent${QQ_APPID}" />
        </intent-filter>
      </activity> -->
      <!-- <activity
        android:name="com.tencent.connect.common.AssistActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:exported="true"/> -->
      <!-- <activity
        android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
        android:configChanges="keyboardHidden|orientation"
        android:windowSoftInputMode="adjustResize"
        android:exported="true" >
      </activity> -->
    </application>

</manifest>
